azureml-core==1.58.0
azureml-dataset-runtime==1.58.0
azureml-defaults==1.58.0
azure-ml==0.0.1
azure-ml-component==0.9.18.post2
azureml-mlflow==1.58.0
azureml-contrib-services==1.58.0
torch-tb-profiler~=0.4.0
azureml-inference-server-http
inference-schema
MarkupSafe==3.0.2
regex
pybind11
urllib3>=1.26.18
cryptography>=42.0.4
aiohttp>=3.8.5
py-spy==0.3.14
debugpy~=1.8.7
ipykernel~=6.0
tensorboard
psutil==6.1.0
matplotlib~=3.9.2
tqdm~=4.66.5
py-cpuinfo==9.0.0
torch-tb-profiler~=0.4.0
azureml-sdk==1.58.0
bitsandbytes~=0.44.1
transformers==4.45.2
peft~=0.13.2
accelerate~=1.0.1
trl~=0.11.4
einops==0.8.0
datasets~=3.0.2
wandb~=0.18.5
mlflow==2.17.1
lm_eval>=0.4.5
onnx>=1.17.0
onnxruntime>=1.19.2
onnxruntime-genai>=0.4.0
onnxscript>=0.1.0.dev20241026
--extra-index-url https://download.pytorch.org/whl/nightly/cu124
torchtune==0.4.0.dev20241031+cu124
torchao==0.7.0.dev20241031+cu124