torch==2.5.1
torchvision==0.20.1 
torchaudio==2.5.1
MarkupSafe==3.0.2
regex
pybind11
urllib3>=1.26.18
cryptography>=42.0.4
aiohttp>=3.8.5
debugpy~=1.8.12
psutil==6.1.1
matplotlib~=3.10.0
tqdm~=4.67.1
torch-tb-profiler~=0.4.3
azureml-sdk==1.59.0
bitsandbytes~=0.45.2
transformers==4.49.0
peft~=0.14.0
accelerate~=1.4.0
trl~=0.15.1
einops==0.8.1
datasets~=3.3.2
wandb~=0.19.6
lm_eval>=0.4.7
onnx>=1.17.0
onnxruntime>=1.20.1
onnxruntime-genai>=0.5.2
onnxscript>=0.1.0.dev20250122
torchao==0.8.0
--extra-index-url https://download.pytorch.org/whl/nightly/cu124
torchtune==0.6.0.dev20250220+cu124